<!doctype html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>DPUX-Data-Console</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/style/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    </head>
    <body>

        <div id="content"> </div>

        <script src="/static/js/index-bundled.js"></script>
    </body>
</html>
