@import "vars";
@import "mixins";

html
{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

body
{
    height: 100%;
    width: 100%;
    background: @Gray0;
    margin: 0;
    overflow: auto;
}

//reactroot container
.container
{
    height: 100%;

    .page
    {
        padding-top: @header-height;
    }
}

#content
{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 600px;
}

h1, h2, h3, h4, h5, h6, span, a
{
    .f3;
    margin: 0;
}

//header
.header
{
    .flexbox(row);
    z-index: 100;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    background: @Gray5;
    padding: 0 @margin;

    .link-home
    {
        .flexbox(row);
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 150px;
        height: 100%;
        background: @Gray5;

        .link
        {
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            &-text
            {
                .f3;
                color: @Gray1;
                z-index: 2;
            }

            &.active
            {
                border-bottom: 3px solid @Blue1;
            }
        }
    }
}

.detail-page
{
    width: 100%;
    height: 100%;
}

//event tiles
.ev-tile-row
{
    .flexbox(row);
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.ev-main-tile
{
    .flexbox(column);
    .flex(1;1;auto);
    transition: all .2s ease-in-out;
    justify-content: space-between;
    position: relative;
    max-width: 500px;
    min-height: 300px;
    height: 100%;
    padding: @margin;
    background: @Gray1;
    box-shadow: -1px 1px @Gray1;
    border-radius: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:hover
    {
        .hover;
    }

    &-scrim
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @Gray5;
        opacity: 0.6;
        z-index: 3;
    }
}

.ev-main-content
{
    .flexbox(column);
    .flex(0;0;80%);
    justify-content: space-between;
    z-index: 4;
}
.ev-region
{
    &-title
    {
        margin-bottom: @rg-spacing * 2;

        .ev
        {
            margin-bottom: @sm-spacing/2;

            &-date
            {
                .f1;
                color: #FFFFFF !important;

            }

            &-title
            {
                .truncate(2);
                .f2;
                color: #FFFFFF !important;
            }
        }
    }

    &-location
    {
        .ev
        {
            &-building
            {
                .f35;
                color: #FFFFFF !important;
            }

            &-room
            {
                .f2;
                color: #FFFFFF !important;
            }
        }
    }

    &-footer
    {
        .flexbox(row);
        height: 24px;
        margin: 0 -@rg-spacing;
        z-index: 4;
        border-top: 1px solid #FFFFFF;

       .ev-actions
       {
        display: none;
       }
    }
}

.ev-btn-remove
{
    .button;
}

//uploader
.upload
{
   &-background
   {
        position: fixed;
        top: @header-height;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        z-index: 9999;
   }

   &-container
   {
        .flexbox(row);
        width: 40vw;
        height: 40vh;
        min-width: 300px;
        min-height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

   }

   &-cloud-img
   {
        pointer-events: none;
        cursor: default;
        display: block;
        width: 120px;
        height: 120px;
        background: url('/static/img/ic_backup_black_24px.svg') no-repeat;
        background-size: 100%;
   }
}

.upload-content
{
    .flexbox(column);
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: @margin;
    background: @Gray1;
    box-shadow: -1px 1px @Gray1;
    border-radius: 4px;
    margin: @sm-spacing / 4;

    .upload-btn
    {
        .button;
        width: 120px;
        background-color: @Gray3;
    }
    .upload-actions
    {
        .flexbox(column);
        align-items: center;
        position: absolute;
        bottom: 15%;
        width: 100%;
    }
}

#upload-input
{
    display: none;
}

.progress
{
    height: 16px;
    width: 80%;
    margin-bottom: @rg-spacing;
    overflow: hidden;
    background-color: @Gray0;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);

    &-bar
    {
        .f4;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        height: 100%;
        width: 0;
        background-color: @Blue1;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        transition: width .6s ease;
    }
}

//image library
.remove
{
    display: none;
    background-image: url('/static/resources/img/ic_clear_black_24px.svg');
    background-size: 100%;
    background-repeat: no-repeat;

    &-container
    {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        height: 24px;
        width: 24px;

        .image-tile-remove
        {
            width: 100%;
            height: 100%;
        }
    }
}

.image-tile
{
    position: relative;
    .flex(0;0;33.33%);

    &-row
    {
        .flexbox(row);
        flex-wrap: wrap;
        padding-top: @sm-spacing;
    }

   img
   {
        max-width: 100%;
        max-height: 100%;
   }

   &:hover
   {
        .remove
        {
            display: block;
        }
   }
}
