.box-sizing(@type: border-box)
{
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.flexbox(@dir)
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: @dir;
    -webkit-flex-direction: @dir;
}

.flex(@prop1: 0; @prop2: 0; @prop3: auto)
{
    -webkit-box-flex:@prop1 @prop2 @prop3;
    -moz-box-flex:@prop1 @prop2 @prop3;
    -webkit-flex:@prop1 @prop2 @prop3;
    -ms-flex:@prop1 @prop2 @prop3;
    flex: @prop1 @prop2 @prop3;
}

.order(@prop)
{
    -webkit-box-ordinal-group:@prop;
    -moz-box-ordinal-group:@prop;
    -ms-flex-order:@prop;
    -webkit-order:@prop;
    order:@prop;
}

.truncate(@lines) {
    display: -webkit-box;
    -webkit-line-clamp: @lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.max-width(@max-width)
{
    max-width: @max-width;
    margin: 0 auto;
}

.max-height(@max-height)
{
    max-height: @max-height;
    margin: 0 auto;
}

.f1()
{
    font-size: 48px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: @Gray3;
}

.f2()
{
    font-size: 36px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: @Gray3;
}

.f3()
{
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: @Gray3;
}

.f35()
{
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    color: @Gray3;
}

//italics
.f4()
{
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 200;
    color: @Gray3;
}

//link
.f5()
{
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: @blGray1;
}

._button()
{
     -webkit-appearance: none;
      border: solid 1px @Gray1;
      border-radius: 4px;
      background-color: @Blue3;
      color: @Gray1;
      font-size: 16px;
      width: 200px;
      height: 36px;

    &:active
    {
        outline: 0;
        border: none;
    }

    &:focus
    {
        outline: 0;
    }
}

.button()
{
    ._button;
}

.link-button()
{
    ._button;
    .f5;
    color: @Blue1;
    background: transparent;
    border: none;
    text-transform: uppercase;
}

.link
{
    .f5;
    font-size: 24px;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-decoration: none;
}
._input()
{
    -webkit-appearance: none;
    border: 0;
    border-bottom: solid 2px @Blue3;
    background: transparent;
    outline: none;
    height: 36px;
    width: 200px;
    font-size: 18px;
    color: @Gray3;

    &::-webkit-input-placeholder
    {
        color: @Gray2;
        font-size: 18px;
    }
}

.icon-touchable()
{
    width: 24px;
    height: 24px;
    display: block;
}

.hover()
{
    transform: scale(1.1);
}

@svg-uri: ~'data:image/svg+xml;utf-8,';
.upload-icon(@fill)
{
    background-image: url("@{svg-uri} <svg fill='@{fill}' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'> <path d='M0 0h24v24H0z' fill='none'/> <path d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z'/> </svg>");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.close-icon(@fill)
{
    background-image: url("@{svg-uri} <svg fill='@{fill}' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'> <path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/> <path d='M0 0h24v24H0z' fill='none'/> </svg>");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
